<div *ngIf="person">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ person.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdwon-toggle">
          Manage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a routerLink="edit">Edit Details</a></li>
          <li>
            <a style="cursor: pointer;" (click)="onDeletePerson()">
              Remove
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><b>Age:</b> {{ person.dob | age }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12"><b>Email Id:</b> {{ person.email }}</div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      {{ person.country }}
    </div>
  </div> -->
</div>
